Source: wazo-python-graphql-relay-packaging
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev+pkg@wazo.community>
Build-Depends: debhelper (>= 12),
               dh-python,
               python3-all,
               python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.9

Package: python3-graphql-relay
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-graphql-core (>= 3.2.0),
         python3-graphql-core (<< 3.3.0),
         python3-typing-extensions (>= 4.1.0)
Description: Library to allow the easy creation of Relay-compliant servers using GraphQL
 GraphQL-relay-py is the Relay library for GraphQL-core.
 It allows the easy creation of Relay-compliant servers using GraphQL-core.
 .
